@model CelexWebApp.Models.AdministradorMMV.GrupoDetallesModel

@{
    ViewData["Title"] = "Detalles del Grupo";
}
@{
    var idRol = Context.Session.GetString("id_rol");
}

@if (TempData["informacion"] != null)
{
    <div class="alert alert-info">
        @TempData["informacion"]
    </div>
}

<h1>Detalles del Grupo</h1>

<div>
    <p><strong>Nombre del Grupo:</strong> @Model.Nombre</p>
    <p><strong>Nivel:</strong> @Model.Nivel</p>
    <p><strong>Tipo de Curso:</strong> @Model.TipoCurso</p>
    <p><strong>Fecha de Inicio:</strong> @Model.FechaInicio.ToString("dd/MM/yyyy")</p>
    <p><strong>Fecha de Fin:</strong> @Model.FechaFin.ToString("dd/MM/yyyy")</p>
    <p><strong>Capacidad:</strong> @Model.Capacidad</p>
    <p><strong>Ocupados:</strong> @Model.Ocupados</p>
</div>

<h2>Profesor</h2>
@if (!string.IsNullOrEmpty(Model.Profesor))
{
    <p>@Model.Profesor</p>
}
else if (TempData["informacion"]?.ToString() == "Grupo Vacio")
{
    <a class="btn btn-warning" asp-controller="GrupoDetalles" asp-action="BuscarProfesor">Agregar Profesor</a>
}
else
{
    <p>No hay profesor asignado.</p>
}


<h2>Alumnos</h2>
@if (TempData["informacion"]?.ToString() == "Grupo Vacio")
{
    <a class="btn btn-success" asp-controller="GrupoDetalles" asp-action="BuscarAlumnos">Agregar Alumno</a>
}
else
{
    <ul class="list-group" id="lista-alumnos">
        @foreach (var alumno in Model.Alumnos)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    @alumno.alumno.Nombre @alumno.alumno.ApellidoPa @alumno.alumno.ApellidoMa
                </div>

                <div class="d-flex align-items-center">
                    @if (idRol == "3")
                    {
                        <a class="btn btn-danger btn-sm me-2"
                           asp-controller="GrupoDetalles"
                           asp-action="BajaAlumno"
                           asp-route-id="@alumno.alumno.Id">
                            Dar de Baja
                        </a>
                    }

                    @if (idRol == "2")
                    {
                        <a class="btn btn-success btn-sm me-2"
                           asp-controller="GrupoDetalles"
                           asp-action="Calificaciones"
                           asp-route-id="@alumno.alumno.Id">
                            Ver Calificaciones
                        </a>

                        <div class="d-flex align-items-center">
                            <span class="badge bg-primary rounded-pill me-2">Asistencia: @(alumno.alumno.Asistencia)</span>

                            <form method="post" class="d-inline me-1"
                                  asp-controller="GrupoDetalles"
                                  asp-action="AgregarAsistencia"
                                  asp-route-id="@alumno.alumno.Id">
                                <button type="submit" class="btn btn-primary btn-sm">+</button>
                            </form>

                            <form method="post" class="d-inline"
                                  asp-controller="GrupoDetalles"
                                  asp-action="QuitarAsistencia"
                                  asp-route-id="@alumno.alumno.Id">
                                <button type="submit" class="btn btn-secondary btn-sm @((alumno.alumno.Asistencia) <= 0 ? "disabled" : "")">-</button>
                            </form>
                        </div>
                    }
                </div>
            </li>
        }
    </ul>
    @if (Model.Ocupados < Model.Capacidad)
    {
        <br />
        @if (idRol == "3")
        {
            <a class="btn btn-success" asp-controller="GrupoDetalles" asp-action="BuscarAlumnos">Agregar Alumno</a>
        }                
    }    
}